/* Ensure full-page height */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

/* Flexbox wrapper to structure the layout */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the full viewport height is used */
}

/* Make main content area expand */
main {
    flex-grow: 1; /* Pushes the footer down */
    padding: 20px;
    max-width: 90%;
    margin: 0 auto; /* Centers content */
    background-color: var(--color-bg-main);
}

/* Typography styling */
h1 {
    color: var(--color-h1);
}

h2 {
    color: var(--color-h2);
}

p, span, div, li {
    color: var(--color-text);
}
